#global-msg-container {
    background-color: #0da986;
    height: auto;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    &.show-message {
        display:block;
        animation-name: fadeIn;
    }
    &.hide-message {
        animation-name: fadeOut;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(startYposition);
        } 
        100% {
            opacity: 1;
            transform: translateY(endYposition);
        }
    }
    
    @keyframes fadeOut {
        0% {
            opacity: 1;
            transform: translateY(startYposition);
        } 
        100% {
            opacity: 0;
            transform: translateY(endYposition);
        }
    }
}
