#global-msg-container {
    background-color: #0da986;
    // height: 0;
    min-height:0;
    max-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10001;
    p {
        color: white;
        font-size: 25px;
        padding: 0 2%;
    }
    &.show-message {
        max-height: 500px;
        min-height: 100%;
    }
    &.hide-message {
        height: 0;
    }

   
}
