@import './variables';

.bm{
  /* Position and sizing of burger button */
  &-burger-button {
    position: fixed;
    width: 25px;
    height: 15px;
    left: 15px;
    top: 15px;
  }

  /* Color/shape of burger icon bars */
  &-burger-bars {
    background: $color-grey-medium;
    height: 15% !important; 
    margin-bottom:5% !important;
  }
  
  /* Color/shape of burger icon bars on hover*/
  &-burger-bars-hover {
    background: $color-baby-green-dark;
  }
  
  /* Styling of overlay */
  &-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  &-menu-wrap {
    position: fixed;
    height: 100%;
  }

  /* General sidebar styles */
  &-menu {
    background: #f9f9f9;
    padding-top: 2em;
    font-size: 1.15em;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
  }

  /* Wrapper for item list */
  &-item-list {
    color: $color-grey-light;
  }
  
  /* Individual item */
  &-item {
    display: inline-block;
  }
  

  /* Position and sizing of clickable cross button */
  &-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  &-cross {
    background: #bdc3c7;
  }
  
  
  &-burger-button,
  &-cross-button {
    button{
      &:hover,
      &:active,
      &:focus{
        outline:none;
      }
    }
    
  }
  
  
  /* Morph shape necessary with bubble or elastic */
  &-morph-shape {
    fill: $color-grey-dark;
  }
  
  
  
}
 