@import './variables';
@import './hamburger';

header {
    display: flex;
    position: relative;
    height: auto;
    .logo-container {
        width: 100%;
        height: 50px;
        text-align: center;
    }
    .hamburger-menu-icon {
        position: absolute;
        top: 0;
        left: 0;
    }
    .bm-overlay {
        background: rgba(246, 242, 199, .9) !important;
    }
    .bm-item.section {
        margin: 10% 5%;
        font-size: 1.25em;
    }
    @media (min-width: $breakpoint-tablet) {
  
    }
}