.plant-collection {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
}

.plant-collection {
    ul li {
        width: 200px;
        height: 200px;
        background-color: #73E2A7;
        border-radius: 7px;
        margin: 5px;
        padding: 15px 5px;
        text-align: center;
        position: relative;
    }
    
}