li.plant-card {
    div.delete-card {
        position: absolute;
        right: 10px;
        &:hover {
            cursor: pointer;
        }
    }
    
    h4.plant-name {
        margin-top: 50%;
    }
}
