
@import './header';
@import './profile';
@import './plant-list';
@import './plant-card';
@import './community';

.font{
  &-abril-fatface{
    font-family: 'Abril Fatface';
  }
  &-abril-yellowtail{
    font-family: 'Yellowtail';
  }
  &-abril-open-sans{
    font-family: 'Open Sans';
  }
}

.content-body {
    padding: 2%;
    padding-top: 80px;

    background-image: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0.98) 82%, rgba(255, 255, 255, 0) 100%), url(/static/media/bg-home.4e875264.jpg);
    background-size: contain;
    background-repeat: no-repeat;


    .home-container{
      .sections{
        width: 90%;
        margin: 0 auto;
        display: block;
        max-width: 900px;
        padding: 20px 0;

        &--title{
          h1{
            font-family: 'Abril Fatface';
            color: $color-baby-green-light;
            font-size: 26px;
            line-height: 40px;
            padding-top: 10px;
          }
          h3{
            font-size: 22px;
            color: $color-baby-green-light;
          }
        }
      }

      .about{
        &--info{
          padding-bottom: 30px;

          h1{
            font-family: 'Abril Fatface';
            color: white;
            text-shadow: 3px 3px 6px rgba(0,0,0,.5);
            font-size: 30px;
            padding-top: 10px;
          }
          p{
            color: white;
            text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
          }
          a{
            color: $color-baby-green-light;
            text-decoration: underline;
          }
        }
      }

      .search-body{
        width: 90%;
        margin: 0 auto;
        display: block;
        max-width: 600px;

        .form-group{
          position: relative;

          button{
            &.btn-primary[type="submit"]{
              position: absolute;
              z-index: 1;
              top: 0;
              right: 0;
            }
          }
        }
        
        button{
          &.btn-load-more{
            display: block;
            margin: 0 auto;
            padding: 10px 20px;
            font-size: 18px;
            margin-top:50px;
          }
        }
      
      }

      .commonly-traded{
        .link--see-more{
          color: $color-baby-green-light;
          text-decoration: underline;
        }
        .plant-card{
          display: inline-block;
          background-color: #eaeaea;
          border-radius: 2px;
          width: 30%;
          margin: 1%;
          vertical-align: top;
          .plant-row{
            a{
              display:block;
              width:100%;

              img{
                opacity: .3;
                width: 70%;
                display: block;
                margin: 0 auto;
                padding: 10px 0;
              }
              h3{
                font-size: 16px;
                margin-top: 10px;
                color: $color-baby-green-light;
              }
            }
          }
        }
      }

      .how-it-works{
        ul{
          justify-content: left;

          li{
            display: inline-block;
            vertical-align: top;
            width: 100%;
            img{
              opacity: .5;
              width: 55px;
              display: inline-block;
              vertical-align: top;
              margin-top: 5px;
            }
            p{
              color: #565656;
              display: inline-block;
              vertical-align: top;
              width: 80%;
              font-size: 15px;
              padding: 0 10px;
            }
          }
        }
      }

      .community{
        &--info{
          display:inline-block;
          vertical-align:top;
          width: 30%;
          text-align: center;
          margin: 1%;

          h2{
            font-size: 16px;
          }
          p{
            font-size: 20px;
            color: $color-baby-green-light;
          }
        }
      }

    }
}

.form-class {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    label {
        margin: 10px 0;
    }
}




// BUTTONS
 button{
   &.btn{
    background-color:$color-baby-green-light;
    border-color: $color-baby-green-light;

    &:hover,
    &:active,
    &:focus{
      background-color: $color-baby-green-dark !important;
      border-color: $color-baby-green-dark !important;
    }
   }
 }



// ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
// }

