
@import './header';

html, body {
    // background-color: #E2EB98 !important;
}

.form-class {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    label {
        margin: 10px 0;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.plant-collection ul {

}

.plant-collection ul li {
    width: 200px;
    height: 200px;
    background-color: #73E2A7;
    border-radius: 7px;
    margin: 5px;
    padding: 15px 5px;
    text-align: center;
    position: relative;
}

div.delete-card {
    position: absolute;
    right: 10px;
}

div.delete-card:hover {
    cursor: pointer;
}

h4.plant-name {
    margin-top: 50%;
}